// bower:scss
@import "bower_components/normalize-scss/sass/_normalize.scss";
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// add SCSS
@import '_scss/application'
