// 1.Config
$border-radius-r: 20px;
$btn-height-r: 40px;
$border-radius: 26px;
$btn-height: 52px;
// 2.Base
.m-btn {
  display: inline-block;
  height: $btn-height-r;
  line-height: $btn-height-r;
  border-radius: $border-radius-r;
  color: $white;
  background: $black;
  border: 0;
  text-transform: center;
  vertical-align: middle;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 5px;
  @include transition(all .4s linear);
  font-weight: 400;
  @include mq(tablet) {
    height: $btn-height;
    line-height: $btn-height;
    border-radius: $border-radius;
    font-size: 20px;
    margin-top: 30px;
    padding: 0 40px;
  }

  &:hover {
    background: $darkwhite;
    color: $black;
  }
}

.m-block__btn {
  display: block;
  max-width: 160px;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  margin: 0 auto;
  @include mq(tablet) {
    height: $btn-height-r;
    line-height: $btn-height-r;
  }
}
