// 1.Config
// 2.Base

.m-herounit {
  width: 100%;
  height: 400px;
  @include mq(tablet) {
    height: 500px;
  }
  @include mq(desktop) {
    height: 623px;
  }
}

.m-herounit-bg {
  background: url("#{$url}/hero.jpg") no-repeat center center;
  background-size: cover;
}

.m-heroteam {
  width: 100%;
  height: 300px;
  @include mq(tablet) {
    height: 544px;
  }

  h2 {
    @include mq(tablet) {
      padding-top: 70px;
    }
  }
}

.m-heroteam-bg {
  background: url("#{$url}/red_patten.jpg") repeat 0 0;
  @include mq(tablet) {
    background: url("#{$url}/heroteam.jpg") no-repeat center center;
    background-size: cover;
  }
}

.m-hero {
  p {
    color: $white;
    width: 80%;
    margin: 5px 0;
    @include mq(tablet) {
      width: 50%;
      margin: 20px 0;
    }
    @include mq(desktop) {
      width: 70%;
    }
  }
}

.m-heroteam {
  .m-hero {
    p {
      width: 100%;
    }
  }
}
