// 1.Config
$pager-top: 46px;
// 2.Base
.m-blocks-quote {
  min-height: auto;
  @include mq(tablet) {
      min-height: 541px;
  }
  padding: 30px 0 10px;
  background: url("#{$url}/blockquote_bg.jpg") repeat 0 0;
  @include mq(tablet) {
    padding: 60px 0 50px;
  }
  h5 {
    padding-bottom: 50px;
    text-align: center;
  }
}

.bx-wrapper {
  border: 0;
  margin: 0;
  padding: 0 0 20px;
  box-shadow: none;
  width: 94%;
  margin: 0 auto;
  background: $white;
  border-radius: 22px;
  @include mq(tablet) {
    padding: 0;
    min-height: 227px;
  }
}

.m-blocks-quote__slide {
  blockquote {
    display: block;
    padding: 1px 0;
    font-size: 12px;
    line-height: 1;
    position: relative;
    color: #8b8b8b;
    @include mq(tablet) {
      font-size: 15px;
      padding: 1px 60px;
    }

    p {
      font-size: 12px;
      line-height: 1;

      @include mq(tablet) {
        font-size: 15px;
        line-height: 1.5em;
      }
    }
  }

  blockquote::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: bold;
    color: $red;
    position: absolute;
    left: -25px;
    top: -10px;
    @include mq(tablet) {
      font-size: 45px;
      left: 5px;
      top: 10px;
    }
  }

  blockquote::after {
    content: "";
  }

  footer {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    color: $red;
    font-weight: 900;
    @include mq(tablet){
      padding-top: 0;
      font-size: 25px;
    }
    cite {
      font-style: normal;

      span {
        color: $black;
      }
    }
  }

  p {
    color: #8b8b8b;
  }
}

.m-blocks-quote__pager {
  @extend %clearui;
  text-align: center;
  margin-top: $pager-top;

  li {
    outline: 0;
    display: inline-block;
    text-align: center;
    margin: 0 1px;
    @include mq(tablet) {
      margin: 0 7px;
    }
  }

  a {
    outline: 0;
    display: block;
    position: relative;
    z-index: 2000;
    width: 40px;
    height: 40px;
    @include mq(tablet) {
      width: 54px;
      height: 54px;
    }

    img {
      width: 100%;
      position: relative;
      z-index: 2;
      border-radius: 50%;
      box-shadow: 0 0 18px rgba(0,0,0,.1);
      border: solid 2px #fff;
      @include mq(tablet) {
        border-width: 5px;
      }
    }

    &.active img {
      opacity: 0.7;
    }

    &.active:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -$pager-top;
      width: 0;
      height: 0;
      margin-left: -12px;
      border-style: solid;
      border-width: 15px 12px 0 12px;
      border-color: $white transparent transparent transparent;
    }
  }
}

/* fix image loader issue */
.bx-wrapper .bx-loading {
  background: url("#{$url}/bx_loader.gif") center center no-repeat $white;
}
