// 1.Config
// 2.Base
.m-topmenu {
  @extend %clearui;
  float: right;
  list-style: none;

  li {
    display: inline-block;
    margin: 11px 10.5px 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $darkwhite;
    @include transition(all .2s linear);

    &:hover {
      color: $red;
    }
  }
}
