// 1.Config
// 2.Base
.l-blocks-help {
  padding-bottom: 20px;
  @include mq(tablet) {
    padding-bottom: 120px;
  }

  h3 {
    padding: 20px 0;
    @include mq(tablet) {
      padding: 87px 0 47px;
    }
  }

  p {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 20px;
  }
}

.l-blocks-help__img01 {
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    border-radius: 50%;
    border: solid 10px $white;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    max-width: 120px;
    margin-bottom: 5px;
    @include transition(all .4s linear);

    &:hover {
      opacity: 0.7;
    }
    @include mq(tablet) {
      width: 100%;
      max-width: 186px;
      margin-bottom: 26px;
    }
  }
}
// Causes Blocks
.l-blocks-causes {
  padding-bottom: 20px;
  @include mq(tablet) {
    padding-bottom: 100px;
  }

  h3 {
    padding: 20px 0;
    @include mq(tablet) {
      padding: 72px 0 56px;
    }
  }
}

.l-blocks-causes_bg {
  padding-bottom: 30px;
  margin-bottom: 20px;
  background: url("#{$url}/red_patten.jpg") repeat 0 0;

  img {
    width: 100%;
  }
}

.l-blocks-causes__sub {
  @extend %clearfix;
}

.l-blocks-causes__goal,
.l-blocks-causes__raised {
  color: $white;
  font-weight: 500;
  font-size: 16px;
  margin: 5px;
  text-align: center;
  @include mq(tablet) {
    margin: 10px 5px;
    font-size: 14px;

  }
  @include mq(desktop) {
    font-size: 16px;
    margin: 43px 15px 8px;
    text-align: left;
  }
}

.l-blocks-causes__info {
  text-align: center;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  padding: 0 15px 15px;
  @include mq(desktop) {
    padding: 0 80px 15px;
  }
}
// Best Blocks
.l-blocks-best {
  .l-blocks-help__img01 img {
    max-width: 206px;
    margin-bottom: 13px;
  }

  h4 {
    color: $red;
    font-weight: 900;
    text-transform: uppercase;
  }

  p {
    padding: 0;
    margin: 0 0 20px;
    font-size: 21px;
    font-weight: 700;
  }
}
/*

.l-blocks-mission {
  .l-constrained {
  }

  p {
    text-align: center;
  }
}

.l-blocks-mission__infotext {
}

.members-item {
  text-align: center;
  height: 100px;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
}


.block-bg {
  position: relative;
  margin: 90px auto 50px;
  border-radius: 10px;
  background: $white;
  padding: 30px;
  width: 80%;
  @include mq(tablet) {
    width: 100%;
  }
}

.m-carousel-blog,
.l-blocks-member {
  padding-bottom: 20px;
}
.m-carousel-blog {
  width: 90%;
  margin: 0 auto;
}
.blog-item{
  margin: 0 20px;
  width: calc(100% - 40px);
  .date {
    margin: 20px 0 10px;
    padding: 20px 0 10px;
  }
}
*/
