// 1.Config
// 2.Base
.l-blocks-blog,
.l-blocks-get,
.l-blocks-member,
.l-blocks-mission {
  background: $white;
  position: relative;
  z-index: 5;
}

.l-blocks-get {
  margin-top: 425px;
  @include mq(phone) {
    height: 480px;
  }
  @include mq(tablet) {
    margin-top: 670px;
  }
}

.l-constrained {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include mq(desktop) {
    max-width: 1200px;
  }
}

.l-row {
  @extend %clearfix;
  //margin: $grid-padding;
}

.l-col {
  @include mq(tablet) {
    float: left;
  }
}

.l-col-right {
  @include mq(tablet) {
    float: right;
  }
}

body {
  @include mq(phone) {
    //background: blue;
  }
  @include mq(tablet) {
    //background: red;
  }
  @include mq(desktop) {
    //background: green;
  }
}

.l-gray-bg {
  background: $gray;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
