// 1.Config
@mixin grid($num, $gutter_px, $grid-padding, $max_columns) {
  $one_col: (100% - ($gutter_pc * ($max_columns - 1))) / $max_columns;
  width: ($one_col * $num) + ($gutter_pc * ($num - 1));
  border-left-width: $gutter_px;
  padding: $grid-padding;
  margin-left: $gutter_pc;
}
@mixin grid_first {
  margin-left: 0;
}
// 2.Base
// Phone Grid
.grid_1,
.grid_10,
.grid_11,
.grid_12,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9 {
  @include grid_first;
  width: 100%;
  padding: $grid-padding;
}
// Tablet Grid
@include mq(tablet) {
  $max_columns: 12;

  .grid_1 {
    @include grid(1, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_2 {
    @include grid(2, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_3 {
    @include grid(3, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_4 {
    @include grid(4, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_5 {
    @include grid(5, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_6 {
    @include grid(6, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_7 {
    @include grid(9, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_8 {
    @include grid(8, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_9 {
    @include grid(9, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_10 {
    @include grid(10, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_11 {
    @include grid(11, $gutter_px, $grid-padding, $max_columns);
  }
}
// Desktop Grid
@include mq(desktop) {
  .grid_1 {
    @include grid(1, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_2 {
    @include grid(2, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_3 {
    @include grid(3, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_4 {
    @include grid(4, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_5 {
    @include grid(5, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_6 {
    @include grid(6, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_7 {
    @include grid(7, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_8 {
    @include grid(8, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_9 {
    @include grid(9, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_10 {
    @include grid(10, $gutter_px, $grid-padding, $max_columns);
  }

  .grid_11 {
    @include grid(11, $gutter_px, $grid-padding, $max_columns);
  }
}
