// Colors
$red: #f13e4b;
$black: #000000;
$white: #ffffff;
$btnCol: #282828;
$gray: #7a7a7a;
$darkwhite: #cbcbcb;
// Fonts
$body-font: "Roboto",sans-serif !default;
$base-font-family: "Roboto"!default;
$body-font-weight: 400 !default;
$body-font-size: 14px !default;
$body-font-color: $gray !default;
$body-font-style: normal !default;
// Use with @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// Use with @extend %clearui;
%clearui {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Grid variables
$max_columns: 12;
$grid-padding: 0 15px;
$gutter_px: 0;
$gutter_pc: 0;
// Media Query
@mixin mq($mq) {
   @if $mq == smphone{
    @media (min-width: 320px) {
       @content;
    }
  }
  @if $mq == phone {
     @media (min-width: 480px){
      @content;
    }
  }
  @if $mq == tablet {
     @media (min-width: 768px){
      @content;
    }
  }
  @if $mq == desktop {
     @media (min-width: 992px){
      @content;
    }
  }
  @if $mq == wide {
     @media (min-width: 1200px){
      @content;
    }
  }
  @if $mq == retina {
     @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx){
      @content;
    }
  }
}
//Image url
$url: "../images/_common";
//img BG mixer for Retina and default
@mixin background-image-retina($file, $type) {
  background-image: url($url + '/' + $file + '.' + $type);
  @include mq(retina) {
    background-image: url($url + '/' + $file + '@2x.' + $type);
    background-size: cover;
  }
}
// Transition
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
