// 1.Config
$subHeight: 115px; // 2.Base

.footer {
  position: relative;
  background: url("#{$url}/footer_bg.jpg") repeat 0 0;
}

.footer-subscribe {
  display: none;
  @extend %clearfix;
  width: 100%;
  padding: 35px 0 0 5px;
  height: $subHeight;
  margin: -($subHeight/2) auto 0;
  background: url("#{$url}/red_patten.jpg") repeat 0 0;
  @include mq(tablet) {
    display: block;
    padding: 35px 0 0 15px;
  }
  @include mq(desktop) {
    padding: 35px 0 0 35px;
  }

  i {
    font-size: 34px;
    color: $white;
    float: left;
    line-height: ($subHeight/2);
    @include mq(desktop) {
      font-size: 54px;
    }
  }

  p {
    margin: 7px 26px 0 20px;
    padding: 0;
    float: left;
    font-size: 15px;
    line-height: 20px;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    @include mq(desktop) {
      font-size: 20px;
    }
  }

  a {
    float: left;
    font-size: 20px;
    font-weight: 900;
    line-height: ($subHeight/2);
    color: $white;
    @include mq(tablet) {
      font-size: 25px;
    }
    @include mq(desktop) {
      font-size: 40px;
    }
    @include mq(wide) {
      font-size: 44px;
    }
  }
}

.footer-subscribe__form {
  float: left;
  margin: 7px 0 0 5px;

  @include mq(desktop) {
    margin: 7px 0 0 30px;
  }
  @include mq(wide) {
    margin: 7px 0 0 87px;
  }

  input[type="text"] {
    outline: 0;
    position: relative;
    border: 0;
    float: left;
    border-radius: 20px;
    background: $white;
    line-height: 40px;
    height: 40px;
    padding: 0 20px 0 40px;
    margin: 0 10px;
    font-size: 14px;
    color: $gray;
    min-width: 100px;
    @include mq(desktop) {
      margin: 0 21px 0 10px;
      min-width: 205px;
    }
    @include mq(wide) {
      min-width: 315px;
    }
  }

  .footer-subscribe__form-field {
    float: left;
    position: relative;

    &:before {
      position: absolute;
      left: 27px;
      top: 12px;
      content: "\f0e0";
      font-family: FontAwesome;
      color: #b4b4b4;
      font-size: 15px;
      z-index: 1000;
    }
  }

  .m-btn {
    float: left;
    margin: 0;
    font-weight: 700;
    min-width: 120px;
    @include mq(desktop) {
      min-width: 140px;
    }
    @include mq(wide) {
      min-width: 157px;
    }
  }
}

.footer__copyright {
  margin: 0;
  padding: 20px 0;
  color: $white;
  text-align: center;

  a {
    color: $white;
  }
}

.footer_blocks {
  @extend %clearfix;
  padding-top: 25px;
  font-size: 15px;
  font-weight: 400;
  color: $white;
  @include mq(tablet) {
    padding-top: 148px;
  }
  h5 {
    font-size: 33px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 30px 0 10px;
    @include mq(tablet) {
      margin: 0 0 37px;
    }
  }
}

.footer-link__menu {
  @extend %clearui;
  margin-left: 10px;

  li {
    margin: 17px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    font-size: 16px;
    color: $white;

    &:hover {
      color: $red;
    }
  }

  i {
    margin-right: 10px;
  }
}

.footer-gallery__list {
  @extend %clearui;

  li {
    display: inline-block;
    margin: 0 2px 10px;
    @include mq(desktop) {
      margin: 0 10px 10px;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer-contact__info {
  @extend %clearui;
  color: $red;

  li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #3c505d;

    &:last-child {
      border: 0;
    }
  }

  i {
    border-radius: 50%;
    background: $red;
    color: $white;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    text-align: center;
    line-height: 28px;
  }

  p {
    margin-top: 0;
    display: block;
    color: $white;
    padding: 0 35px;
    word-wrap: break-word;
  }

  a {
    display: block;
    word-wrap: break-word;
    color: $white;
    padding: 0 10px 0 35px;
    @include mq(desktop){
      padding: 0 35px;
    }

    &:hover {
      color: $red;
    }
  }
}
