// 1.Config
// 2.Base
.header {
  width: 100%;
  background: $white;
}

.site-name {
  width: 198px;
  height: 67px;
  float: left;
  margin: 5px;
  @include mq(tablet) {
    margin: 9px 0 16px 18px;
  }
  @include background-image-retina(logo, png);

  span {
    display: none;
  }
}

.header-top {
    display: block;
    height: 41px;
    background: url("#{$url}/top_header_bg.png") repeat 0 0;
}
