// 1.Config
// 2.Base
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-font-color;
  font-style: $body-font-style;
  margin: 0;
}

p {
  margin: 15px 0 0;
  line-height: 1.5em;
}

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.sup {
  z-index: -1;
}

h2 {
  padding: 30px 0 0;
  margin: 0;
  font-size: 30px;
  color: $white;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(35,31,32,.35);
  @include mq(tablet) {
    padding: 115px 0 0;
    font-size: 45px;
  }
  @include mq(wide) {
    font-size: 56px;
  }

  span {
    font-weight: 900;
    font-size: 38px;
    @include mq(tablet) {
      font-size: 55px;
    }
    @include mq(wide) {
      font-size: 70px;
    }
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: $black;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  @include mq(tablet) {
    font-size: 40px;
  }

  span {
    color: $red;
  }
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: $black;
  text-align: center;
  @include mq(tablet) {
    font-size: 26px;
  }
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
}

h6 {
  font-size: 32px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}
